# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Data files
*.csv
*.xlsx
*.xls

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Power BI temporary/backup files
*.pbit
